.picture-card-div{
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    width: calc(70vw * 0.22);
    height: auto;
    aspect-ratio: 2/1.5;
}
.picture-bg{
    position: absolute;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.picture-card-div:hover > .picture-bg{
    opacity: 0.2;
    z-index: -1;
}
.picture-card-div:hover > .picture-container{
    visibility: visible;
}
.picture-container{
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.picture-info{
    color: var(--pink-color);
    margin: 0;
}
.picture-name{
    font-size: 24px;
}
.picture-author{
    font-size: 16px;
    margin-top: 5px;
}
.picture-cost{
    font-size: 22px;
}
.picture-bottom-div{
    height: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
}
.picture-sold{
    margin-left: 5px;
    font-size: 18px;
}
@media screen and (max-width: 1000px) {
    .picture-card-div {
        width: calc(70vw * 0.47);
    }
}

@media screen and (max-width: 500px) {
    .picture-card-div{
        width: 70vw
    }
}